.image-transition-enter {
  opacity: 0;
  transform: translateY(100%);
}

.image-transition-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms, transform 500ms;
}

.image-transition-exit {
  opacity: 1;
  transform: translateY(0%);
}

.image-transition-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 500ms;
}
